{% extends 'CUSTOMER/customerhome.html' %}
{% block content %}
{% load crispy_forms_tags %}
<h3>View Bill</h3>
<style>
   .section-body {
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  }
   .invoice{
 border:0px solid black;
}
</style>

     <div class="section-body">
<div class="invoice">
          <table class="table">
  <thead>
    <tr>
       <th scope="col">SI No.</th>
       <th scope="col">Date</th>
       <th scope="col">Category</th>
        <th scope="col">Comments</th>
        </tr>
  </thead>
  <tbody>
  {% for i in cf %}
    <tr>
      <td scope="row"> {{forloop.counter}}</td>
       <td> {{i.date}}</td>
       <td> {{i.category}}</td>
       <td> {{i.comments}}</td>
       </tr>
  {% endfor %}
  </tbody>
          </table>
        </div>

              </div>



{% endblock %}
