{% extends 'ADMIN/adminhome.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="section-body">
            <div class="invoice">
              <div class="invoice-print">
                  <div class="col-lg-12">
                    <div class="invoice-title">
                        <h2>Add Worker</h2>
 <form method = "POST" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                {{worker_form|crispy}}
                                {{login_form|crispy}}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                  </div>
              </div>
            </div>
</div>
{% endblock %}